
@font-face {
  font-family: 'Manifold-DemiBold';
  src: url('../fonts/manifold-cf-demi-bold.eot');
  src: url('../fonts/manifold-cf-demi-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manifold-cf-demi-bold.woff2') format('woff2'),
        url('../fonts/manifold-cf-demi-bold.woff') format('woff'),
        url('../fonts/manifold-cf-demi-bold.ttf')  format('truetype'),
        url('../fonts/manifold-cf-demi-bold.svg#Manifold-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manifold-Thin';
  src: url('../fonts/manifold-cf-thin.eot');
  src: url('../fonts/manifold-cf-thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manifold-cf-thin.woff2') format('woff2'),
        url('../fonts/manifold-cf-thin.woff') format('woff'),
        url('../fonts/manifold-cf-thin.ttf')  format('truetype'),
        url('../fonts/manifold-cf-thin.svg#Manifold-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manifold-Regular';
  src: url('../fonts/manifold-cf.eot');
  src: url('../fonts/manifold-cf.eot?#iefix') format('embedded-opentype'),
        url('../fonts/manifold-cf.woff2') format('woff2'),
        url('../fonts/manifold-cf.woff') format('woff'),
        url('../fonts/manifold-cf.ttf')  format('truetype'),
        url('../fonts/manifold-cf.svg#Manifold-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}





