
.container-post { position: relative; }

.article {
    position: absolute;
    left: 10%;
    right: 34%;
    height: 120px;
    top: 540px;
    display: inline-flex;
    
    .img-article {
        width: 150px;
        height: 100px;
    }

    .text-article {
        
        p:first-child {
            font-size: 16px;
            font-weight: bold;
        }
        
        .read {
            margin-bottom: 12px;
            margin-top: 12px;
        }

        .read-information {
            display: inline-flex;

            p {
                font-size: 14px;
                font-weight: 200;
            }

            .im-star {
                font-size: 12px;
                color: $grey;
                margin-left: 10px;
                margin-top: 4px;
                margin-right: 10px;
            }

            .im-bookmark {
                position: absolute;
                font-size: 18px;
                right: 168px;
            }

            .read {
                margin-top: 0px;
            }
        }
    }
}