
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $white;
  padding: 20px;
  
  .header-container {
    position: relative;
    width: 100%;
    height: 100%;
  
    .button-upgrade {
      position: absolute;
      left: 10%;
      width: 90px;
      height: 35px;
      border: 1px solid $grey;
      border-radius: 4px;
      
      p {
        font-family: 'Lucida Grande', 'Lucida Sans Unicode',  sans-serif; 
        font-size: 14px;
        color: #737373;
        text-align: center;
      }
    }

    h1 {
      font-size: 33px;
      font-weight: bold;
      position: absolute;
      left: 50%;
      transform: translate3d(-50%, -10%, 0);
      letter-spacing: -2px;
    }

    .toolbar {
      position: absolute;
      right: 10%;
      display: inline-flex;

      .button-gmail {
        width: 40px;
        height: 38px;
        background-color: #ea407a;
        border-radius: 50%;
        color: $white;
        margin-bottom: 12px;

        p { text-align: center; }
      }

      i { 
        font-size: 18px;
        margin-right: 18px;
      }
        
    }
  }
}